<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Backup control: <%= @backup.name %></title>
<link rel="stylesheet" type="text/css" href="/style.css" media="screen" />
</head>
<body>
<div id="header">
<h1>Backup control: <%= @backup.name %></h1>
 <div id="menu">
  <ul id="nav">
          <% @entries.each do |f| %>
            <li><a href="/<%= f %>"><%= f %></a></li>
          <% end %>
  </ul>
 </div>
</div>
<div id="content">
<div id="left">
<h2>Details</h2>
<p>
<form action="/<%= @backup.name %>" method="post">
  <table>
    <tr><td>Name:</td><td><%= @backup.name %></td></tr>
    <tr><td>Backup in Progress:</td><td><%= @backup.in_progress? ? "yes" : "no" %></td></tr>
    <tr><td>Log:</td><td>
      <% if @backup.has_log? %>
        <a href="/<%= @backup.name %>/log">View log (<%= @backup.log_time %>)</a>
      <% else %>
        No log file found!
      <% end %>
    </td></tr>
    <tr><td style="vertical-align: top;">Contents:</td><td><ul>
      <% @backup.entries.each do |f| %>
        <li ><%= f %></li>
      <% end %>
    </ul></td></tr>
    <tr><td>&nbsp;</td><td>
      <input type="submit" name="backup" value="Do Backup"/>
    </td></tr>
  </table>
</form>
</p>
</div>
	
<div id="right">
	<div class="box">
			<h2>News :</h2>	
			<p>This XHTML/CSS Template was inspired by great NiftyCube layouts. It is released under GPL and it is xhtml/css valid.</p>
	</div>
			
	<div class="box">
				<h2>Links :</h2>
				<ul>
				<li><a href="http://www.minimalistic-design.info">Web Design Directory</a></li>
				<li><a href="http://www.historyexplorer.net">History Timelines</a></li>
				</ul>
	</div>
		
    <div class="box">
	   <div style="font-size: 0.8em;">Design by <a href="http://www.minimalistic-design.net">Minimalistic Design</a></div>
	</div>
</div>
</div>
</body>
</html>
